/**
 * テーマのCSS
 */
body,
button,
input,
select,
textarea {
	color: #1a1a1a;
  font-family: "Roboto", "Yu Gothic", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
  box-sizing: border-box;
}

.site {
  min-height: 100vh;
  margin: 0;
  background-color: #fff;
}

@media screen and (min-width: 44.375em) {
  .site {
    margin: 10px;
    min-height: calc(100vh - 20px);
  }
}

@media screen and (min-width: 61.5625em) {
  .site {
    margin: 20px;
    min-height: calc(100vh - 40px);
  }
}

/**
 * フォーラムのCSS
 */
#bbpress-forums {
  font-family: "Roboto", "Yu Gothic", sans-serif;
}
